body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
  font-weight: bold;
}
h2 {
  color: #ab080e;
}

.header {
  background: url('./images/pont-neuf-by-maximeraphael-cc-by.jpg') center;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #D0D0D0;
  text-align: center;
}
.header-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header h1,
.header h2 {
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 3em;
}

.header h2 {
  color: white;
}

.header-container p {
  text-align: left;
}

@media (min-width: 867px) {
  .header-container p {
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
  }
}

.header a,
.header a:focus,
.header a:visited {
  color: white;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.projet {
  background-color: #f8f3f2;
}

.degooglisons {
  background-color: #e5e1e1;
}
.service-list .card {
  margin-bottom: 1em;
}
.service-list.future li {
  display: block;
  padding: 1rem;
}
.service-list a:hover {
  background-color: #f8f3f2;
}

.oxyta {
  color: #ab080e;
}

.net {
  color: #f9dc00;
}
