body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0;
  }

.header {
  background: url('./images/pont-neuf-by-maximeraphael-cc-by.jpg') center;
  height: 100vh;
  padding: 100px 10px;
  color: #D0D0D0;
}
.header-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3rem;
}
.header h1 {
  font-size: 3em;
  margin-bottom: 2em;
}

.header a, .header a:focus, .header a:visited {
  color: white;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.projet {
  background-color: #fff;
}

.degooglisons {
  background-color: #DBD5D5;
}
.service-list {
  margin-bottom: 1em;
}
.service-list.future li {
  display: block;
  padding: 1rem;
}
.service-list li a:hover {
  background-color: #F0F0F0;
}

h1 {
  font-weight: bold;
}

.oxyta {
  color: #ab080e;
  font-weight: bold;
}

.net {
  color: #f9dc00;
  font-weight: bold;
}
