body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0;
  }

.header {
  background: url('./images/pont-neuf-by-maximeraphael-cc-by.jpg') center;
  height: 100vh;
  padding: 5px 10px;
  color: #D0D0D0;
}

.header a, .header a:focus, .header a:visited {
  color: white;
}

section {
  height: 100vh;
  padding-top: 30px;
}

.projet {
  background-color: #fff;
}

.degooglisons {
  background-color: #DBD5D5;
}

.service-list {
  display: flex;
}
.service-list li {
  margin: 1rem;
  display: block;
  border: 1px solid #CCC;
  flex: 1 1 1%;
}
.service-list li a {
  display: block;
  padding: 1rem;
}
.service-list li a:hover {
  background-color: #F0F0F0;
}

h1 {
  font-weight: bold;
}

.oxyta {
  color: #ab080e;
  font-weight: bold;
}

.net {
  color: #f9dc00;
  font-weight: bold;
}
